{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
<title>Fatech Automation</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'inicio/css/style.css' %}">
</head>
<body>

<div class="header">
  <h1>Fatech Automation</h1>
  <p>Controle RFID.</p>
</div>

<div class="navbar">
  <a href="/inicio">Home</a>
  <a href="cadastro">Cadastro de RFID</a>
  <a href="log">Log</a>
  {% if user.is_authenticated %}
  <a href="{% url 'logout'%}?next={{request.path}}" class="right">Sair</a>
  <a class="right">Olá {{ user.username }}</a>
  {% endif %}
</div>

<div class="row">
  <div class="side">
    <h2>Em construção</h2>
    <h5>Em construção</h5>
    <!-- <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    <h3>More Text</h3>
    <p>Lorem ipsum dolor sit ame.</p> -->
  </div>
  <div class="main">
    <h2>Em construção</h2>
    <h5>Em construção</h5>
    <!-- <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <br>
    <h2>TITLE HEADING</h2>
    <h5>Title description, Sep 2, 2017</h5>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p> -->
  </div>
</div>

<div class="footer">
  <h2>Feito pela equipe Fatech Automation</h2>
</div>

</body>
</html>
