{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
<title>Fatech Automation</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'inicio/css/style.css' %}">
</head>
<body>

<div class="header">
  <h1>Fatech Automation</h1>
  <p>Controle RFID.</p>
</div>

<div class="navbar">
  <a href="/inicio">Home</a>
  <a href="cadastro">Cadastro de RFID</a>
  <a href="log">Log</a>
  {% if user.is_authenticated %}
  <a href="{% url 'logout'%}?next={{request.path}}" class="right">Sair</a>
  <a class="right">Olá {{ user.username }}</a>
  {% endif %}
</div>

<div class="container">
  <div class="child">
    <h2 style="text-align: center;">10 últimos registros</h2>
    <h5 style="text-align: center;">Atualizado em {{agora}}.</h5>
    <table>
        <tr>
          <th>Nome relacionado</th>
          <th>Número RFID</th>
          <th>Data{{ registrados.rfid_id }}</th>
        </tr>
            {% for rfida in logs_lista %}
                <tr>
                  <td>{{ registrados.nome }}</td>
                  <td>{{ rfida.rfid }}</td>
                  <td>{{ rfida.date }}</td>
                </tr>
            {% endfor %}

    </table>
  </div>
</div>

<div class="footer">
  <h2>Feito pela equipe Fatech Automation</h2>
</div>

</body>
</html>