{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'login/css/style.css' %}"> -->
<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>rfid</title>

<link rel="stylesheet" type="text/css" href="{% static 'login/css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'login/css/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'login/css/nav_sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'login/css/login.css' %}">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<script src="{% static 'login/js/nav_sidebar.js' %}" defer></script>
<meta name="robots" content="NONE,NOARCHIVE">

</head>


<body class=" login"
  data-admin-utc-offset="-10800">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/">Rfid</a></h1>

        </div>
        
        
    </div>
    <!-- END Header -->
    
    

    <div class="main shifted" id="main">
      
        
      
      <div class="content">
        
          
        
        <!-- Content -->
        <div id="content" class="colM">
          
          
          




<div id="content-main">



<form action="/?next=/" method="post" id="login-form" >{% csrf_token %}
  <div class="form-row">
    
    <label class="required" for="id_username">Username:</label> <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
  </div>
  <div class="form-row">
    
    <label class="required" for="id_password">Password:</label> <input type="password" name="password" autocomplete="current-password" required id="id_password">
    <input type="hidden" name="next" value="/">
  </div>
  
  
  <div class="submit-row">
    <input type="submit" value="Log in">
  </div>
</form>

</div>

          
          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>
